# Copia questo file in ".env" per lo sviluppo locale (non committarlo mai!)
# Su Render, imposta queste stesse chiavi nella sezione "Environment" del servizio.

TELEGRAM_BOT_TOKEN=123456789:AAHxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ARCGIS_CLIENT_ID=il_tuo_client_id
ARCGIS_CLIENT_SECRET=il_tuo_client_secret
ARCGIS_FEATURE_LAYER_URL=https://services.arcgis.com/XXXXX/arcgis/rest/services/Posizione_partenze2_PT/FeatureServer/0
WEBHOOK_SECRET=una_stringa_casuale_lunga_a_tua_scelta
